.add-bar {
    background-color: #1ecb9a;
    padding: 5;
}
.add-bar Image {
    height: 40;
    vertical-align: center;
    margin-left: 10;
    margin-right: 10;
}
.add-bar TextField {
    padding: 10;
    color: #000;
}
Label {
    background-color: white;
    border-bottom-width: 2;
    border-bottom-color: black;
    padding: 10;
}

.delete-view {
    background-color: rgb(255, 255, 255)
}

.delete-view Image {
    color: whitesmoke;
}

.ListView {
    opacity: 0;
}
.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
