<ActionBar title="Tasks"></ActionBar>

<GridLayout rows="auto, *">

    <GridLayout row="0" columns="*, auto" class="add-bar">
        <TextField #taskTextField [(ngModel)]="task" hint="Insert a new task" col="0"></TextField>
        <img src="https://cdn.icon-icons.com/icons2/1993/PNG/512/add_circle_create_expand_new_plus_icon_123218.png" col="1" (tap)="addTask()">

    </GridLayout>


    <RadListView row="1" [items]="taskList" 
                 swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)">

        <ng-template let-item="item">
            <Label [text]="item.title" class="p-15"></Label>
        </ng-template>
        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" (tap)="deleteTask($event)" class="delete-view">
                <img src="https://cdn.icon-icons.com/icons2/789/PNG/512/delete_icon-icons.com_65184.png">
            </StackLayout>
        </GridLayout>

    </RadListView>
</GridLayout>
<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
